<div class="left_bar">
  <div class="top_left_bar">
    <div class="top-left_title">テーマ一覧</div>
  </div>

  <div class="new_theme_form">
    <div class="new_theme"><%= link_to "新規作成", "/" %></div>
  </div>

  <div class="left_main_user">
    <div class="left_user_form">
      <div class="left_theme">
        <%= link_to "テーマ名", "/" %>
      </div>
      <div class="left_theme">
        <%= link_to "テーマ名", "/" %>
      </div>
      <div class="left_theme">
        <%= link_to "テーマ名", "/" %>
      </div>
      <div class="left_theme">
        <%= link_to "テーマ名", "/" %>
      </div>
      <div class="left_theme">
        <%= link_to "テーマ名", "/" %>
      </div>
      <div class="left_theme">
        <%= link_to "テーマ名", "/" %>
      </div>
      <div class="left_theme">
        <%= link_to "テーマ名", "/" %>
      </div>
      <div class="left_theme">
        <%= link_to "テーマ名", "/" %>
      </div>
      <div class="left_theme">
        <%= link_to "テーマ名", "/" %>
      </div>
      <div class="left_theme">
        <%= link_to "テーマ名", "/" %>
      </div>
      <div class="left_theme">
        <%= link_to "テーマ名", "/" %>
      </div>
      <div class="left_theme">
        <%= link_to "テーマ名", "/" %>
      </div>
      <div class="left_theme">
        <%= link_to "テーマ名", "/" %>
      </div>
      <div class="left_theme">
        <%= link_to "テーマ名", "/" %>
      </div>
      <div class="left_theme">
        <%= link_to "テーマ名", "/" %>
      </div>
      <div class="left_theme">
        <%= link_to "テーマ名", "/" %>
      </div>
      <div class="left_theme">
        <%= link_to "テーマ名", "/" %>
      </div>
      <div class="left_theme">
        <%= link_to "テーマ名", "/" %>
      </div>
      <div class="left_theme">
        <%= link_to "テーマ名", "/" %>
      </div>
      <div class="left_theme">
        <%= link_to "テーマ名", "/" %>
      </div>
      <div class="left_theme">
        <%= link_to "テーマ名", "/" %>
      </div>
      <div class="left_theme">
        <%= link_to "テーマ名", "/" %>
      </div>
      <div class="left_theme">
        <%= link_to "テーマ名", "/" %>
      </div>
      <div class="left_theme">
        <%= link_to "テーマ名", "/" %>
      </div>
    </div>
  </div>
</div>