<div class="main_chat">
  <div class="theme_main">
    <div class="top_theme_main">
      <div class="top-theme_title">
        <%= "テーマ" %>
      </div>
      <div class="top-content_title">ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</div>
    </div>
  </div>

  <div class="main_form">
    <div class="chat_form">
      <div class="message">
        <div class="message-form">
          <div class="upper-message">
            <div class="right_pic"></div>
            <div class="message-user">
              ユーザー名
            </div>
            <div class="message-date">
              2010,10,02
            </div>
          </div>
          <div class="lower-message">
            <div class="message-content">
              メッセージコンテンツ
            </div>
              <%= image_tag "", class: 'message-image' %>
          </div>
        </div>

        <div class="current-message_form">
          <div class="current-upper_message">
            <div class="message-date">
              2010,10,02
            </div>
            <div class="message-user">
              本ユーザー名
            </div>
            <div class="right_pic"></div>
          </div>
          <div class="current-lower_message">
            <div class="current-message_content">
              メッセージコンテンツ
            </div>
              <%= image_tag "", class: 'message-image' %>
          </div>
        </div>
      </div>

      <%= form_with url: "/", class: 'form', local: true do |f| %>
      <div class="main-input">
        <div class="form-input">
          <%= f.text_field :content, class: 'form-message', placeholder: 'type a message' %>
          <label class="form-image">
          <span class="image-file">画像</span>
          <%= f.file_field :image, class: 'hidden' %>
          </label>
        </div>
          <%= f.submit '送信', class: 'form-submit' %>
      </div>
      <% end %>
    </div>
  </div>
</div>